* {
    border: 1px solid blue;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

.container, .main, .footer {
  width: 960px;
}

.flex {
  display: flex;
}

/* Set header background and size */

.header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31rem;
  width: 100%;
  padding-top: 1rem;
}

/* Start Menu */

.container {
  margin: auto;
}

nav {
  background-color: cadetblue;
  height: auto;
}

.logo {
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin-left: 2rem;
  height: 1.5rem;
}

.logo span {
  color: white;
  margin-left: 1rem;
  margin-right: auto;
}

ul {
  margin-right: 2rem;
}

li {
  color: white;
  padding: 1rem 0;
  margin-left: 2rem;
}

/* Finish Menu */
/* Start text block within header */

.look {
  justify-content: flex-end;
}

.text {
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
}

.text span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Finish text block */
/* Finish header */
/* Start main body content */
/* Start services */

.main {
  margin: 3rem auto 5rem auto;
}

.services {
  justify-content: center;
  margin-bottom: 3rem;
}

.service {
  flex-direction: column;
  height: 8rem;
  width: 5rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.fitting {
  margin: 0 6rem;
}

.service img {
  align-self: center;
}

.exam img {
  width: 3.5rem;
}

.fitting img, .delivery img {
  width: 5rem;
}

/* Finish services */
/* Start about section */

.about {
  justify-content: center;
}

.philosophy, .appointments {
  width: 35%;
}

.philosophy {
  margin-right: 5%;
}

.title {
  background-color: cadetblue;
  width: 10rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
}

.title span {
  font-weight: bold;
  color: white;

}

/* Finish about section */
/* Finish main body content */
/* Start footer */

.footer {
  margin: auto;
  align-items: center;
  background-color: azure;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Finish footer */

/* Start Tablet view */

@media only screen and (max-width: 1024px) {
  .container, .main, .footer {
    width: 100%;
  }

  .header {
    height: 22rem;
    padding: 0;
  }

  .text {
    position: relative;
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }

  .text span {
    font-size: 1.33rem;
  }
}

/* End Tablet view */
